.loader {
    font-size: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    vertical-align: top;
}
.loaderMain{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loaderMain 0.9s 0.35s ease alternate infinite;
    animation: loaderMain 0.9s 0.35s ease alternate infinite;
    margin: -20px auto 0;
}

.loaderMain:after,
.loaderMain:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: loaderMain 0.9s ease alternate infinite;
    -webkit-animation: loaderMain 0.9s ease alternate infinite;
}

.loaderMain:before {
    left: -20px;
    animation-delay: 0.2s;
}

.loaderMain:after {
    right: -20px;
    animation-delay: 0.5s;
}

@keyframes loaderMain {
    0% {
        box-shadow: 0 15px 0 -15px #000;
    }
    100% {
        box-shadow: 0 15px 0 #000;
    }
}

@-webkit-keyframes loaderMain {
    0% {
        box-shadow: 0 15px 0 -15px #000;
    }
    100% {
        box-shadow: 0 15px 0 #000;
    }
}
